/*!
 * 
 * [Dojo](https://dojo.io/)
 * Copyright [JS Foundation](https://js.foundation/) & contributors
 * [New BSD license](https://github.com/dojo/meta/blob/master/LICENSE)
 * All rights reserved
 * 
 */
@import url(https://fonts.googleapis.com/css?family=Montserrat);body {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;
	-webkit-hyphens: none;
	    -ms-hyphens: none;
	        hyphens: none;

}

/* Code blocks */

pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
}

/* Inline code */

:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

pre {
	border: none;
	font-size: 14px;
}
.Menu-m__root__3jZMJ {
	position: fixed;
	width: 100%;
	background: #212329;
}

.Menu-m__menu__3t3ln {
	height: 80px;
	padding: 0 40px;
	color: rgba(117,117,117 ,1);
	-webkit-box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
	        box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.Menu-m__menuItem__3B_u_ {
	display: inline-block;
	text-align: right;
	margin: 10px;
}

.Menu-m__left__14bhs {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}

.Menu-m__link__1c9_f:hover {
}

.Menu-m__link__1c9_f {
	font-size: 0.9rem;
	min-width: 140px;
	text-align: center;
	text-decoration: none;
	color: white;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #999;
	text-transform: uppercase;
	-webkit-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

.Menu-m__selected__3pg72 {
}

.Menu-m__logo__3tsPA {
	height: 48px;
	width: 110px;
}
.App-m__root__LaFAR {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100vh;
}

.App-m__content__fDu6I {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 80px;
	font-family: "Montserrat", sans-serif;
}
.Home-m__root__ZELU5 {
	padding: 60px;
}
.Playground-m__root__j6PmL {
}
.Playground-m__iframe__2prER {
	border: none;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

/*# sourceMappingURL=main.87e524ccdf433bfdd3d69f0af830f34d.bundle.css.map*/